* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;}
header, footer {
    height: 150px;
    background-color: white;}
main {
    display: flex;
    flex: 1;}
aside {
    width: 20%;
    background-color: yellow;}
section {
    flex: 1;
    background-color: lightblue;}