div{
    border: 2px solid black;
}

.prvii{
    height: 150px;
    width: 150px;
    background-color: #45ADA8;
    position: absolute;
    left: 100px;
}
.drugii{
    height: 75px;
    width: 75px;
    background-color: #547980;
    position: absolute;
    left: 20px;
}