section{
    width: 900px;
    height: 700px;
    border: 1px solid black;

}
header{
    width: 900px;
    height: 100px;
    border: 1px solid red;
    position: relative;
    right: 1px;
}
aside{
    height: 500px;
    width: 200px;
    border: 1px solid blue;
    position: relative;
}
main{
    height: 500px;
    width: 700px;
    position: relative;
    left: 200px;
    bottom: 502px;
    border: 1px solid green;

}
footer{
    width: 900px;
    height: 96px;
    border: 1px solid purple;
    position: relative;
    bottom: 502px;

}