h1{
    font-family: Verdana, times, serif;
    font-size: 40em;
    font-weight: bolder;
}
p{
    font-family: Tahoma, times, serif;
    font-size: 12em;
}
#drugi{
    font-size: 12em;
    
}