header{
    width:100%;
    height:150px;
    background-color:yellow;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.dimenzija-prva-slika{
    width: 120px;
    height:90px;

}

main{
    display:flex;
    width: 100%;
    height: 650px;
    background-color: orange;
}
footer{
    width:100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: darkorange;
    flex-wrap: wrap-reverse;
}
ol{
    display: flex;
    list-style: none;

}
li{
    padding: 20px;
}
.main-slika{
    float: left;
    height: 300px;
    width: 250px;

}

